/*
-- Tornado Man light green: rgb(94, 179, 48)
-- Tornado Man dark green: rgb(54, 105, 33)
*/

.NavbarItems {
    background: linear-gradient(90deg, rgb(94, 179, 48) 0%, rgb(54, 105, 33) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

img.logo {
    width: 5vw;
    height: 5vw;
    padding: 1vw;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
